
# Python
__pycache__/
*.pyc
*.pyo
*.pyd


db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment Variables
.env

# Virtual Environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Frontend
node_modules/
frontend/dist/
build/

# Backups
db_backup.sqlite3
backend/backup.json

backend-test-output.txt

# Docs
docs/

.AGENTS.md
