# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
/env/
.venv/
.env/
# IDEs
.vscode/
*.idea/

# Frontend deps
frontend/node_modules/
build/

